# ignore temp folder
_tmp
# ignore python interpreter
/python/*
# ignore CGRU folder
/cgru_win/*
/cgru_lnx/*
# include AMG CGRU plugins
!/cgru_win/setup_amg.cmd
!/cgru_win/afanasy/python/services/amg.py
!/cgru_win/afanasy/python/parsers/amg.py
!/cgru_win/afanasy/amg_farm_example.json
# include CGRU version
!/cgru_win/version.txt
!/cgru_lnx/version.txt


# include python info
!/python/python.txt

# ignore plugins
/plugins/*
# ignore pyc files
*.pyc
# ignore .idea
.idea
# ignore custom
custom_*
amg_config.json
env_*.cmd
# todos
todo
# other
.mayaSwatches
# ignore included scripts
/scripts/maya/python/*
!/scripts/maya/python/pipeline_startup.py
!/scripts/maya/python/example_menu.py
/scripts/nuke/python
!/scripts/nuke/python/menu_example.py
/scripts/amg/utils/*
!/scripts/amg/utils/__init__.py
!/scripts/amg/icons.py
!/scripts/amg/__init__.py
/scripts/amg/packages/*
!/scripts/amg/packages/install.txt
!/scripts/amg/packages/__init__.py





